.feedback-modal-container {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.feedback-container {
  width: 60%;
  height: 40%;
  border-radius: 10px;
  background-color: #faf7ff;
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.feedback-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-heading > svg {
  color: #7753ad;
}

.feedback-heading > h1 {
  font-size: xx-large;
  font-weight: 600;
  color: #7753ad;
}

.feedback-cross {
  cursor: pointer;
}

.feedback-inputs {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.rating,
.text-feedback {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.star-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.rating {
  align-items: center;
}
.text-feedback {
  align-items: flex-start;
}

.rating > h3,
.text-feedback > h3 {
  font-size: x-large;
  font-weight: 500;
  color: #7753ad;
}

.additional-feedback-box:hover,
.additional-feedback-box {
  border: none;
  outline: none;
  border: 1px solid #7753ad;
}

.additional-feedback-box {
  padding: 0.7rem;
  width: 50%;
  height: 4rem;
  font-size: larger;
  border-radius: 3px;
}

input[type="radio"] {
  display: none;
}

.rating-icon {
  cursor: pointer;
}

.submission {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

.submission > button {
  height: 3rem;
  width: 10rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 400;
  color: #ffffff;
  background-color: #7753ad;
  cursor: pointer;
}

.submission > button:hover {
  background: #102851;
  color: white;
}

@media screen and (max-width: 1360px) {
  .feedback-container {
    width: 50%;
    padding: 1rem 0.5rem;
    padding-left: 1rem;
  }

  .feedback-heading > h1 {
    font-size: x-large;
  }

  .feedback-heading > svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .rating > h3,
  .text-feedback > h3 {
    font-size: larger;
  }

  .rating-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .rating,
  .text-feedback {
    gap: 1rem;
  }

  .submission > button {
    height: 2.5rem;
    width: 8rem;
    font-size: larger;
  }

  .additional-feedback-box {
    width: 40%;
    height: 3rem;
  }
}

@media screen and (max-width: 1150px) {
  .feedback-container {
    width: 55%;
  }

  .feedback-heading > h1 {
    font-size: larger;
    font-weight: 500;
  }

  .feedback-heading > svg {
    height: 2rem;
    width: 2rem;
  }

  .rating > h3,
  .text-feedback > h3 {
    font-size: large;
  }

  .rating-icon {
    height: 1.2rem;
    width: 1.2rem;
  }

  .rating,
  .text-feedback {
    flex-direction: column;
    gap: 0.5rem;
  }

  .feedback-inputs {
    gap: 1.5rem;
  }

  .rating {
    align-items: flex-start;
  }

  .star-container {
    display: flex;
  }
  .additional-feedback-box {
    width: 90%;
    height: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .feedback-container {
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  .feedback-container {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .feedback-container {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .feedback-heading > h1 {
    font-size: large;
  }

  .feedback-heading > svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .rating > h3,
  .text-feedback > h3 {
    font-size: medium;
  }

  .feedback-inputs {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .feedback-heading > h1 {
    font-size: medium;
  }
}
@media screen and (max-width: 355px) {
  .feedback-heading > h1 {
    font-size: small;
  }
}
