* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.sidebar {
  width: 20rem;
  height: 100%;
  padding: 0.7rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.new-chat,
.past-conversations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: linear-gradient(0deg, #d7c7f4, #d7c7f4);
  padding: 0.5rem 0;
  border-radius: 5px;
}

.new-chat > h2 {
  font-size: x-large;
  font-weight: 400;
}

.sidebar-logo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.past-conversations {
  padding: 0.9rem 0;
}

.past-conversations > h3 {
  font-size: larger;
  font-weight: 600;
  color: #414146;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background: linear-gradient(180deg, #d7c7f433 0%, #9785ba33 100%);
}

.app-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

.app-heading > h1 {
  font-size: xx-large;
  font-weight: 700;
  color: #9785ba;
}

.app-heading > svg {
  display: none;
}

.app-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.app-inputs > input {
  width: 83%;
  padding-left: 1rem;
  height: 3rem;
  font-size: larger;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #00000073;
}

.app-inputs > input:focus {
  outline: none;
  border: none;
  border: 1px solid #00000073;
}

.ask,
.save {
  width: 7rem;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
}

.ask > button,
.save > button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  color: #000000;
  background: #d7c7f4;
  padding-right: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.ask > button:hover,
.save > button:hover {
  background-color: #102851;
  color: white;
}

.ask:hover,
.save:hover {
  color: white;
}

.ask > svg,
.save > svg {
  position: absolute;
  right: 1rem;
  pointer-events: none;
  fill: currentColor;
}

.new-chat:hover,
.past-conversations:hover {
  background: #102851;
  color: white;
}

.new-chat > h2,
.past-conversations > h3 {
  color: currentColor;
}

.active-slot {
  background: #102851;
  color: white;
}

@media screen and (max-width: 1270px) {
  .ask > svg,
  .save > svg {
    right: 0.7rem;
  }
}

@media screen and (max-width: 1100px) {
  .new-chat > h2 {
    font-size: larger;
  }

  .sidebar-logo {
    height: 2rem;
    width: 2rem;
  }

  .past-conversations > h3 {
    font-weight: 500;
    font-size: large;
  }

  .new-chat > svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .ask > svg,
  .save > svg {
    right: 0.5rem;
  }
}

@media screen and (max-width: 840px) {
  .ask > button,
  .save > button {
    font-size: large;
    font-weight: 500;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .app-heading > svg {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
    color: #102851;
  }

  .app-heading {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 545px) {
  .app-inputs {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 430px) {
  .ask > button,
  .save > button {
    font-size: medium;
    padding-right: 1.5rem;
  }

  .ask > svg,
  .save > svg {
    height: 1rem;
  }

  .app-inputs > input {
    font-size: medium;
    height: 2.5rem;
    padding-left: 0.5rem;
  }

  .ask,
  .save {
    height: 2.5rem;
  }
}
